@media screen{ 
  
  /** apart 1 concept */

   .concept .step.active {
    cursor: auto;
    background-color: #AAD5F7;  /** old color is #555;*/
    color: #FFF;
    font-weight: 700;
}

/** apart 2 concept */

.concept .ui.active.steps:after, .ui.steps .step.active:after {
    background-color: #AAD5F7;  /** old color is #555;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}
   /** apart 1 draft */

   .concept .ui.active.step, .ui.steps .step.active {
    cursor: auto;
    background-color: #BD2C00;  /** old color is #555;*/
    color: #FFF;
    font-weight: 700;
}

/** apart 2 draft */

.concept .ui.active.steps:after, .ui.steps .step.active:after {
    background-color: #BD2C00;  /** old color is #555;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}
   /** apart 1 final */

   .concept .ui.active.step, .ui.steps .step.active {
    cursor: auto;
    background-color: #BD2C00;  /** old color is #555;*/
    color: #FFF;
    font-weight: 700;
}

/** apart 2 final */

.concept .ui.active.steps:after, .ui.steps .step.active:after {
    background-color: #BD2C00;  /** old color is #555;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}
   /** apart 1 revision */

   .concept .ui.active.step, .ui.steps .step.active {
    cursor: auto;
    background-color: #BD2C00;  /** old color is #555;*/
    color: #FFF;
    font-weight: 700;
}

/** apart 2 revision */

.concept .ui.active.steps:after, .ui.steps .step.active:after {
    background-color: #BD2C00;  /** old color is #555;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

   /** apart 1 contractor */

   .concept .ui.active.step, .ui.steps .step.active {
    cursor: auto;
    background-color: #BD2C00;  /** old color is #555;*/
    color: #FFF;
    font-weight: 700;
}

/** apart 2 c */

.concept .ui.active.steps:after, .ui.steps .step.active:after {
    background-color: #BD2C00;  /** old color is #555;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

}