<<<<<<< HEAD
.Completed {
    padding-Top: '20px';
    padding-Bottom: '20px';
    ///color: 'red'
=======
.complete.row {
    color:"red";
    padding-Top: '10px';
    padding-Bottom: '10px';
>>>>>>> 10784e691ef4b6bc9afd664cf5f0940dc46d067a
}

.ConceptCompleted .ConceptGrid .ConceptLink{
    position: "absolute",;
    //padding-left: "90%", ;
    top: "250px";

}

