.ConceptCompleted .ConceptGrid{
    padding-Top: '20px';
    padding-Left: 50%;
    padding-right: 50%;
}

.ConceptCompleted .ConceptGrid .ConceptLink{
    position: "absolute",;
    //padding-left: "90%", ;
    top: "250px";

}

