.test {
    color:"red";
    padding-Top: '10px';
    padding-Bottom: '10px';
}

.ConceptCompleted .ConceptGrid .ConceptLink{
    position: "absolute",;
    //padding-left: "90%", ;
    top: "250px";

}

